.shodow {
  background: #00214770;
  z-index: 1;
  position: absolute !important;
  top: 0;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  display: block;
}
.bradum {
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  z-index: 3;
}
.breadcrumb {
  background-color: rgb(0 0 0 / 77%);
  color: white;
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 10px;
  border-radius: 10px;
}
.breadcrumb li {
  text-transform: uppercase;
}
.breadcrumb li i {
  color: #ffb606;
}
.breadcrumb > li + li::before {
  color: #ffb606;
  content: "°";
  font-size: 2vw;
  font-weight: 500;
  padding: 0 10px;
  position: relative;
  top: 5px;
}
